imageio==2.31.6
scipy==1.11.3
numpy==1.26.1
matplotlib==3.7.1
dicom2nifti==2.4.8
nibabel==5.1.0
nilearn==0.10.2
crtoolbox==0.1.7
ipywidgets==8.1.1
pandas==2.1.2
pyvistaqt==0.11.0
ndslib==0.6
bids==0.0